@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%; }

.block__header {
  background-color: #0987da;
  font-family: 'Bebas Neue', cursive;
  border: #010211; }

.block__footer {
  background-color: #0987da;
  font-family: 'Bebas Neue', cursive; }

.imagenfondocontacto {
  background-image: url(../img/cine.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

h1 {
  color: #020220; }

.card_imgcine {
  height: 300px;
  width: 1250px;
  margin: 10px; }

.card__cine {
  color: #04ee18;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 550px; }

.card_peliculas {
  color: #05adfc;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: center; }

.card__noticia1 {
  background-color: #0987da;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 10px; }

.card__noticia2 {
  background-color: #118ddf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  margin: 10px;
  padding: 10px; }

.card {
  width: 100%;
  box-shadow: 0px 1px 10px;
  background-color: #e9c910;
  border: solid 10px #030dfb; }

.card__reseña {
  background-color: #e9c910;
  border: solid 10px #030dfb; }

.card__imagen {
  max-width: 100%;
  display: block;
  margin: 0%; }

.card__reseña2 {
  color: #030dfb;
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: center; }

.card__valoracion {
  color: #030dfb;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  text-align: center; }

.container-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  color: wheat; }

.iconify {
  font-size: 50px; }

footer {
  grid-area: footer;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  color: wheat; }

/*media quaries*/
@media (max-width: 768px) {
  .container {
    text-align: center;
    grid-template-columns: repeat(3, 1 fr);
    grid-template-rows: auto  auto auto;
    grid-template-areas: "header header " "aside main main" "footer footer"; }
  .aside {
    height: auto;
    margin-top: 40px; }
  .main {
    height: auto;
    margin-top: 40px; } }
